@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Raleway:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: "Raleway", sans-serif;
  }
}
.wave {
  animation-name: wave-animation; 
  animation-duration: 2.1s; 
  animation-iteration-count: infinite; 
  transform-origin: 70% 70%; 
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } 
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(0deg);
  }
  
}
.main-logo:hover{
  animation-name: slide;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes slide{
  0% {
      rotate: 0deg;
  }
  25%{
    rotate: 180deg;
  }
  50%{
    rotate: -180deg;
  }
  100%{
    rotate: 0deg;
  }
}





